a {
	text-decoration: none;
	color: black;
}

a:hover, a:active {
	color: gray;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bolder;
	width: 80%;
	margin: auto;
}

div a {
	padding: 25px;
}

div h2, div h3{
	display: inline;
}

footer {
	clear: both;
	font-weight: lighter;
	color: grey;
	margin: 5px 5px 0px;
}

table {
	text-align: center;
	width: 80%;
	margin: auto;
}

td {
	padding: 5px;
	text-align: left;
}

#description {
	color: blue;
}

#header {
	color: red;
}

#left {
	text-align: left;
	margin: 10px 0px 0px 0px;
}

#link {
	text-decoration: underline;
}

#right {
	text-align: right;
}

.tableHeaders {
	border-bottom: black solid 1px;
}

.ui-autocomplete {
	padding: 0px;
}

.ui-corner-all {
	color: blue;
}

.ui-helper-hidden-accessible {
	display: none;
}

.ui-menu-item {
	display: block;
	background-color: white;
	text-align: left;
	border: blue solid 1px;
	width: 400px;
}